* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean';
    margin: 0;
}

.home {
    position: relative;
}

.home > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    max-width: 600px;
    padding: 0 0 200px 0;
}

.home h1, h2 {
    z-index: 2;
    position: relative;
    background: #FFF;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

.home picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.home img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section1 {
    position: relative;
}

.section1 > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    max-width: 400px;
    padding: 0 0 48px 0;
}

.section1 h1, h2 {
    z-index: 2;
    position: relative;
    background: #FFF;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

.section1 picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section2 {
    position: relative;
}

.section2 > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    max-width: 800px;
    padding: 0 0 48px 0;
    padding-left: 1600px;
}

.section2 h1, h2 {
    z-index: 2;
    position: relative;
    background: #FFF;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

.section2 picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

